<div class="col-md-6">
	<%= bootstrap_form_for(user) do |f| %>
	<%= f.text_field :username,:placeholder => 'Username', icon: "user"%>
	<%= f.email_field :email,:placeholder => 'Email', icon: "envelope" %>
	<%= f.submit "Register" %>
	<% end %>

</div>
