<div id="notice" class="alert alert-success" style="display:none"></div>
<div id="alert" class="alert alert-error" style="display:none"></div>

<div id="postsfeed">
<% if posts.empty? %>
<h1><span id="alert" class="alert alert-warning">No posts yet </span></h1>
<% else %>
   <%= render posts %>
<% end %>

</div>