

<h3>
	<%= gravatar_for user , :size => 80 %>
	<%= link_to user.username , "/#{user.username}" %> 
	<% if logged_in? && current_user.admin? && !current_user?(user) %>
	| <%= link_to "delete", user, method: :delete,
	data: { confirm: "You sure?" } %>
	<% end %>
	<div class="pull-right"><%= render :partial => 'users/follow_form' ,:locals=>{user: user} if logged_in? %></div>
</h3>
	