<div class="tabbable">
	<ul class="nav nav-tabs" id="proftabs">
		<li class="active"><a href="#profile_tab"  data-toggle="tab" >Profile</a></li>
		<li><a  href="#posts_tab" data-toggle="tab">Posts</a></li>
		<li><a href="#friends_tab" data-toggle="tab">Friends</a></li>
		<li><a  href="#photos_tab" data-toggle="tab">Photos</a></li>
		<li><a  href="#videos_tab" data-toggle="tab">Videos</a></li>

	</ul>

	<div class="tab-content">
		<div id="profile_tab" class="tab-pane">
			<%= render "user" %>
		</div>
		<div id="posts_tab"  class="tab-pane">
			<%= render "userposts" %>
		</div>
		<div id="friends_tab"  class="tab-pane">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut corporis cupiditate incidunt. Accusantium adipisci architecto dignissimos eligendi est explicabo ipsa molestiae nesciunt optio porro provident, sint soluta, tempore temporibus vitae?
		</div>
		<div id="photos_tab"  class="tab-pane">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error ex harum iste magnam necessitatibus sed sit. A adipisci amet cupiditate delectus dolor itaque numquam officia omnis, provident quod temporibus voluptatibus?
		</div>
		<div id="videos_tab"  class="tab-pane">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto at autem dolore, dolorum eaque earum eius, id in iste molestias officia, possimus qui quis recusandae repellat reprehenderit suscipit voluptatum!
		</div>
		
	</div>
</div>