<% if current_user %>
<div id="notice" class="alert alert-success" style="display:none">
	<a class="close" data-dismiss="alert">×</a>
</div>
<div id="alert" class="alert alert-warning" style="display:none">
	<a class="close" data-dismiss="alert">×</a>
</div>
<div class="row">
 <% @post = Post.new %>
  <%= render 'posts/new' %>

  <ul id="postsfeed" class="media-list">
<%= render @posts || 'No Posts' %>
<%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
  </ul>

<% else %>

		<h1>Hello</h1>
		<p class="text-primary">Join now</p>
		<% @user = User.new %>
		<%= link_to "Register", register_path ,:class => 'btn btn-primary btn-lg' %>
<% end %>

