
<% if logged_in? %> 
<div id="postsfeed">

<% if @posts.empty? %>
<h3><span class="label label-warning"> no posts yet </span></h3>
<% else %>
   <%= render @posts %>
<% end %></br>
</div>
<% else %>
<div class="hero-unit">
	<h1>Welcome</h1>
	<h2>Join now</h2>
</div>
<% end %>

