<% if logged_in? %> 
	<%= render :partial => 'posts/posts_feed' , :locals => {posts: @posts} %>

<% else %>
<div id="first" class="jumbotron">
	<div class="container">
		<h1>Hello</h1>
		<p class="text-primary">Join now</p>
		<% @user = User.new %>
		<%= link_to "Register", registration_path ,:class => 'btn btn-primary btn-lg' %>
	</div>
</div>
<% end %>

