
<% if logged_in? %> 

<div id="postsfeed">
	<%= render  @posts  %>
</div>
<% else %>
<div class="hero-unit">
	<h1>Welcome</h1>
	<h2>Join now</h2>
	<% @user = User.new %>
	<%= render :partial => "users/form" , :locals => {user: @user} %>
	<% end %>
</div>
