<div id="postsfeed">
<% if posts_streams.empty? %>
<h1><span class="label label-warning"> no posts yet </span></h1>
<% else %>
 <% for post in posts_streams %>
   <%= render post %>
   <% end %>
<% end %>
</div>