<%=  bootstrap_form_for :login, { url: session_path, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-6"} do |f| %>
	<%= f.text_field :username, :placeholder => 'Your Username', icon: 'user' %>
	<%= f.password_field :password, :placeholder => 'Your password', icon: 'eye-close' %>
	<div class="col-sm-offset-2 col-sm-10">
	<%= f.submit "Sign In" %>
	</div>
<% end %>
